button {
    cursor: pointer;
    transition: transform 200ms ease;
}
button:active {
    transform: scale(0.98);
}

li {
    list-style-type: none;
}

.is-button {
    cursor: pointer;
    transition: transform 200ms ease;
}
.is-button:active {
    transform: scale(0.98);
}
