# ---------- COMMON ----------
# development | production
NODE_ENV=development
APPLICATION_NAME=affiliate-product-catalog
DESCRIPTION=Affiliate Product Catalog (APC)
VERSION=1.0.0

# ---------- DATABASE CONFIG ----------
MONGO_PORT=xxx
MONGO_USERNAME=xxx
MONGO_PASSWORD=xxx
MONGODB_URI=mongodb://xxx:xxx@localhost:xxx/affiliate-product-catalog?authSource=admin

# ---------- BACKEND CONFIG (NestJS) ----------
BACKEND_PORT=xxx
BACKEND_URL=http://localhost:xxx
POSTMAN_URLS=http://127.0.0.1:5000,http://127.0.0.1:5500,http://127.0.0.1:5555
GLOBAL_PREFIX=/api/v1
ADMIN_PASSWORD=xxx

DISK_PATH=/disk
CHUNK_PATH=
MEDIA_PATH=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# ---------- FRONTEND CONFIG (Next.js) ----------
FRONTEND_PORT=xxx
NEXT_PUBLIC_API_BASE_URL=/api/v1
NEXT_PUBLIC_SOCKET_PATH=/socket

# ---------- ADMIN CONFIG (React + Vite) ----------
ADMIN_PORT=xxx
VITE_API_BASE_URL=/api/v1
VITE_SOCKET_PATH=/socket